In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
start = datetime.datetime(2014, 12, 01)
end = datetime.datetime(2016, 12, 1)

In [5]:
goog = web.DataReader('FB', 'google', start, end)

In [6]:
print goog

              Open    High     Low   Close    Volume
Date
2014-12-01   77.26   77.31   74.80   75.10  31789866
2014-12-02   75.33   75.91   75.04   75.46  16773884
2014-12-03   75.38   75.73   74.40   74.88  16689857
2014-12-04   74.83   75.55   74.66   75.24  14390520
2014-12-05   75.80   76.76   75.36   76.36  24306446
2014-12-08   76.18   77.25   75.40   76.52  25733853
2014-12-09   75.20   76.93   74.78   76.84  25358584
2014-12-10   76.65   77.55   76.07   76.18  32210532
2014-12-11   76.52   78.52   76.48   77.73  33492661
2014-12-12   77.16   78.88   77.02   77.83  28091617
2014-12-15   78.46   78.58   76.56   76.99  29396532
2014-12-16   76.19   77.39   74.59   74.69  31554593
2014-12-17   75.01   76.41   74.90   76.11  29203904
2014-12-18   76.89   78.40   76.51   78.40  34222081
2014-12-19   78.75   80.00   78.33   79.88  43334992
2014-12-22   80.08   81.89   80.00   81.45  31395770
2014-12-23   82.02   82.17   80.40   80.61  19865820
2014-12-24   81.03   81.43   80.75   80.77   7685481
2014-12-26   81.02   81.28   80.51   80.78  10647388
2014-12-29   80.49   80.96   79.71   80.02  14134666
2014-12-30   79.85   80.59   79.10   79.22  14370763
2014-12-31   79.54   79.80   77.86   78.02  20040439
2015-01-02   78.58   78.93   77.70   78.45  18177475
2015-01-05   77.98   79.25   76.86   77.19  26452191
2015-01-06   77.23   77.59   75.36   76.15  27399288
2015-01-07   76.76   77.36   75.82   76.15  22045333
2015-01-08   76.74   78.23   76.08   78.18  23960953
2015-01-09   78.20   78.62   77.20   77.74  21157007
2015-01-12   77.84   78.00   76.21   76.72  19190194
2015-01-13   77.23   78.08   75.85   76.45  25179561
...            ...     ...     ...     ...       ...
2016-10-20  130.07  130.66  129.50  130.00  13167503
2016-10-21  129.78  132.13  129.70  132.07  19088794
2016-10-24  132.72  133.40  132.15  133.28  17470227
2016-10-25  133.50  133.50  132.22  132.29  13336787
2016-10-26  131.64  132.26  130.94  131.04  13084731
2016-10-27  131.74  131.80  129.27  129.69  16741393
2016-10-28  130.50  132.97  129.93  131.29  24545547
2016-10-31  132.01  132.12  130.88  130.99  15668982
2016-11-01  131.41  131.94  128.65  129.50  22077779
2016-11-02  130.23  130.23  126.28  127.17  50190225
2016-11-03  122.00  123.28  119.50  120.00  63766259
2016-11-04  119.59  121.93  119.25  120.75  30545466
2016-11-07  122.83  123.21  121.35  122.15  23008880
2016-11-08  122.03  124.61  121.54  124.22  19460768
2016-11-09  121.50  123.81  120.51  123.18  31916020
2016-11-10  123.93  124.18  115.27  120.80  67846704
2016-11-11  119.53  120.70  118.15  119.02  32840137
2016-11-14  119.13  119.13  113.55  115.08  51377040
2016-11-15  116.73  118.49  115.83  117.20  34681369
2016-11-16  114.48  117.88  114.21  116.34  32397947
2016-11-17  116.81  117.79  116.01  117.79  18556202
2016-11-18  118.39  119.13  116.84  117.02  22879303
2016-11-21  118.20  121.95  117.80  121.77  35415366
2016-11-22  122.40  122.98  120.90  121.47  26089163
2016-11-23  121.23  121.31  119.94  120.84  15672136
2016-11-25  121.01  121.14  120.07  120.38   8658605
2016-11-28  120.12  121.69  119.82  120.41  18101314
2016-11-29  120.57  122.10  120.40  120.87  18890956
2016-11-30  120.32  121.79  117.95  118.42  30188922
2016-12-01  118.38  118.45  114.00  115.10  43276994

[506 rows x 5 columns]

In [8]:
goog['2014']['Close'].mean()

77.68545454545455

In [9]:
goog[datetime.datetime(2015, 5, 1): datetime.datetime(2015, 8, 1)]['Close'].median()

82.3

In [10]:
goog['2016']['Close'].min()

94.159999999999997

In [11]:
goog['2016']['Close'].max()

133.28

In [12]:
goog[['Close']].resample('W').max()

             Close
Date
2014-12-07   76.36
2014-12-14   77.83
2014-12-21   79.88
2014-12-28   81.45
2015-01-04   80.02
2015-01-11   78.18
2015-01-18   76.72
2015-01-25   77.83
2015-02-01   78.00
2015-02-08   75.63
2015-02-15   76.51
2015-02-22   79.90
2015-03-01   80.41
2015-03-08   81.21
2015-03-15   79.44
2015-03-22   83.80
2015-03-29   85.31
2015-04-05   83.20
2015-04-12   82.44
2015-04-19   83.52
2015-04-26   84.63
2015-05-03   81.91
2015-05-10   78.81
2015-05-17   81.37
2015-05-24   80.88
2015-05-31   80.55
2015-06-07   82.44
2015-06-14   82.16
2015-06-21   82.90
2015-06-28   88.86
...            ...
2016-05-15  120.50
2016-05-22  118.67
2016-05-29  119.47
2016-06-05  118.93
2016-06-12  118.79
2016-06-19  114.94
2016-06-26  115.08
2016-07-03  114.28
2016-07-10  117.24
2016-07-17  117.93
2016-07-24  121.92
2016-07-31  125.00
2016-08-07  125.15
2016-08-14  125.26
2016-08-21  124.37
2016-08-28  124.96
2016-09-04  126.54
2016-09-11  131.05
2016-09-18  129.07
2016-09-25  130.08
2016-10-02  129.23
2016-10-09  128.99
2016-10-16  130.24
2016-10-23  132.07
2016-10-30  133.28
2016-11-06  130.99
2016-11-13  124.22
2016-11-20  117.79
2016-11-27  121.77
2016-12-04  120.87

[105 rows x 1 columns]

In [13]:
goog.resample('D')[['Close']].max()

             Close
Date
2014-12-01   75.10
2014-12-02   75.46
2014-12-03   74.88
2014-12-04   75.24
2014-12-05   76.36
2014-12-06     NaN
2014-12-07     NaN
2014-12-08   76.52
2014-12-09   76.84
2014-12-10   76.18
2014-12-11   77.73
2014-12-12   77.83
2014-12-13     NaN
2014-12-14     NaN
2014-12-15   76.99
2014-12-16   74.69
2014-12-17   76.11
2014-12-18   78.40
2014-12-19   79.88
2014-12-20     NaN
2014-12-21     NaN
2014-12-22   81.45
2014-12-23   80.61
2014-12-24   80.77
2014-12-25     NaN
2014-12-26   80.78
2014-12-27     NaN
2014-12-28     NaN
2014-12-29   80.02
2014-12-30   79.22
...            ...
2016-11-02  127.17
2016-11-03  120.00
2016-11-04  120.75
2016-11-05     NaN
2016-11-06     NaN
2016-11-07  122.15
2016-11-08  124.22
2016-11-09  123.18
2016-11-10  120.80
2016-11-11  119.02
2016-11-12     NaN
2016-11-13     NaN
2016-11-14  115.08
2016-11-15  117.20
2016-11-16  116.34
2016-11-17  117.79
2016-11-18  117.02
2016-11-19     NaN
2016-11-20     NaN
2016-11-21  121.77
2016-11-22  121.47
2016-11-23  120.84
2016-11-24     NaN
2016-11-25  120.38
2016-11-26     NaN
2016-11-27     NaN
2016-11-28  120.41
2016-11-29  120.87
2016-11-30  118.42
2016-12-01  115.10

[732 rows x 1 columns]

In [14]:
goog.resample('W', label='left')[['Close']].max()

             Close
Date
2014-11-30   76.36
2014-12-07   77.83
2014-12-14   79.88
2014-12-21   81.45
2014-12-28   80.02
2015-01-04   78.18
2015-01-11   76.72
2015-01-18   77.83
2015-01-25   78.00
2015-02-01   75.63
2015-02-08   76.51
2015-02-15   79.90
2015-02-22   80.41
2015-03-01   81.21
2015-03-08   79.44
2015-03-15   83.80
2015-03-22   85.31
2015-03-29   83.20
2015-04-05   82.44
2015-04-12   83.52
2015-04-19   84.63
2015-04-26   81.91
2015-05-03   78.81
2015-05-10   81.37
2015-05-17   80.88
2015-05-24   80.55
2015-05-31   82.44
2015-06-07   82.16
2015-06-14   82.90
2015-06-21   88.86
...            ...
2016-05-08  120.50
2016-05-15  118.67
2016-05-22  119.47
2016-05-29  118.93
2016-06-05  118.79
2016-06-12  114.94
2016-06-19  115.08
2016-06-26  114.28
2016-07-03  117.24
2016-07-10  117.93
2016-07-17  121.92
2016-07-24  125.00
2016-07-31  125.15
2016-08-07  125.26
2016-08-14  124.37
2016-08-21  124.96
2016-08-28  126.54
2016-09-04  131.05
2016-09-11  129.07
2016-09-18  130.08
2016-09-25  129.23
2016-10-02  128.99
2016-10-09  130.24
2016-10-16  132.07
2016-10-23  133.28
2016-10-30  130.99
2016-11-06  124.22
2016-11-13  117.79
2016-11-20  121.77
2016-11-27  120.87

[105 rows x 1 columns]

in case of starting mid week: the mean might not reflect the actual mean of the first period

In [15]:
sp_start = datetime.datetime(2000, 01, 01)
sp_end = datetime.datetime(2016, 07, 31)
sp = web.DataReader('SPY', 'google', sp_start, sp_end)

In [16]:
sp

              Open    High     Low   Close     Volume
Date
2000-08-31  151.06  153.09  150.91  152.34    4849100
2000-09-01  153.25  153.59  152.00  152.50    3191200
2000-09-05  151.88  152.20  150.81  151.28    3470800
2000-09-06  151.19  151.95  149.53  149.56    4322200
2000-09-07  150.25  151.08  149.83  150.84    4265500
2000-09-08  150.28  150.50  149.33  149.81    3518200
2000-09-11  149.75  151.19  148.69  149.59    3937500
2000-09-12  149.75  150.25  148.44  148.50    4769100
2000-09-13  148.00  149.34  147.66  148.89    7691600
2000-09-14  149.88  149.94  148.16  148.47    3397200
2000-09-15  148.19  148.25  146.00  146.00    4085700
2000-09-18  146.38  146.97  144.20  144.66    5109300
2000-09-19  145.12  146.31  144.70  145.97    6588200
2000-09-20  145.69  146.03  143.16  144.89    6508100
2000-09-21  144.47  145.56  143.38  143.38    5970300
2000-09-22  142.62  145.31  142.42  145.28    7791300
2000-09-25  145.94  146.06  143.72  144.16    9725300
2000-09-26  144.38  145.00  142.41  142.41    5302400
2000-09-27  143.56  143.97  142.12  143.16    7186200
2000-09-28  143.19  146.33  142.89  146.12    7033900
2000-09-29  145.47  145.97  143.62  143.62    9333600
2000-10-02  144.28  144.91  143.14  143.84    5516900
2000-10-03  144.53  145.75  142.28  142.50    9347200
2000-10-04  142.88  144.25  141.75  143.69    6149000
2000-10-05  143.41  144.84  143.31  144.19    4566900
2000-10-06  143.88  144.64  139.75  141.06   10014900
2000-10-09  141.31  141.31  139.38  140.00    4508000
2000-10-10  140.09  141.25  137.69  137.69    6102800
2000-10-11  137.62  138.62  135.12  136.53   10365800
2000-10-12  137.28  137.59  132.78  133.12   11336300
...            ...     ...     ...     ...        ...
2016-06-17  207.17  207.20  205.75  206.52  117055748
2016-06-20  208.82  209.61  207.75  207.85   82789603
2016-06-21  208.30  208.92  207.78  208.44   72461663
2016-06-22  208.65  209.50  207.93  208.10   95560471
2016-06-23  209.81  210.87  209.27  210.81  102731356
2016-06-24  203.63  210.85  202.72  203.13  333444397
2016-06-27  201.59  201.60  198.65  199.60  248988660
2016-06-28  201.48  203.23  201.12  203.20  159382399
2016-06-29  204.82  206.93  204.72  206.66  137328614
2016-06-30  207.21  209.54  206.56  209.48  165021948
2016-07-01  209.36  210.49  209.29  209.92  106055333
2016-07-05  208.95  209.08  207.71  208.41  109803713
2016-07-06  207.83  209.80  207.06  209.66   96021491
2016-07-07  209.87  210.65  208.63  209.53   85593827
2016-07-08  211.05  212.94  210.78  212.65  133970972
2016-07-11  213.19  214.07  212.95  213.40   73633937
2016-07-12  214.53  215.30  213.43  214.95  101275629
2016-07-13  215.44  215.45  214.35  214.92   87324129
2016-07-14  216.40  216.67  215.66  216.12   91230870
2016-07-15  216.78  217.01  215.31  215.83  107155401
2016-07-18  215.97  216.60  215.67  216.41   58725918
2016-07-19  215.92  216.23  215.63  216.19   54345728
2016-07-20  216.75  217.37  216.24  217.08   58159457
2016-07-21  216.96  217.22  215.75  216.26   67777310
2016-07-22  216.41  217.30  216.10  217.24   62787477
2016-07-25  217.00  217.06  215.97  216.65   55873147
2016-07-26  216.53  217.17  215.76  216.75   70080493
2016-07-27  217.19  217.27  215.62  216.52   84083893
2016-07-28  216.29  217.11  215.75  216.77   65035718
2016-07-29  216.46  217.54  216.13  217.12   79519436

[4000 rows x 5 columns]